version: 2
updates:
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: weekly
    time: "04:00"
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/src"
  schedule:
    interval: weekly
    time: "04:00"
  open-pull-requests-limit: 10
