name: shellcheck

on:
  push:
    branches:
      - "!main"
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run shellcheck in container
        run: make shellcheck
